doctype html
html(lang="en")
   head
      meta(charset="utf-8")
      title GeoLocation
      style
         |html, body, #map {
         |  margin: 0;
         |padding: 0;
         |height: 90%;
         |}
   body
      div(id="map")
      input(type="button" id="send-button" value="Send Location")
      script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
      script(src="js/geodata.js")


