//
   Created by di on 26.3.16.
doctype html
html(lang="en")
    head
        title Geolocation
    style
        include geostyle.css
    body
        #map
        block scripts
            script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
        block scripts
            script(src='geodata.js')




